@media (min-width: 1400px) {}

@media (min-width: 1200px) and (max-width: 1399px) {
    #product_section .box .img,
    #lecture_sheet_section .box .img,
    #book_section .box .img {
        height: 200px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #product_section .box .img,
    #lecture_sheet_section .box .img,
    #book_section .box .img {
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #product_section .box .img,
    #lecture_sheet_section .box .img,
    #book_section .box .img {
        height: 240px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #product_section .box .img,
    #lecture_sheet_section .box .img,
    #book_section .box .img {
        height: 260px;
    }
}

@media (max-width: 575px) {
    #product_section .box .img,
    #lecture_sheet_section .box .img,
    #book_section .box .img {
        height: 350px;
    }
}
