//colors
$black-dark:#222;
$black-light:#444;
$black-extra-light:#777;
$white:#fff;
$white-light:#f5f5f5;
$white-extra-light:#f1f1f1;
$header-color:#1c5aeb;
$header-color-hover:#1a55dd;
$brand-color:#ef4478;
$brand-color-hover:#df3f6f;