/* here you can put your own css to customize and override the theme */
.permission-left{
    padding-left: 35px;
}
.question-list{
    margin-bottom: 10px;
}
.questionTitle{
    padding-bottom: 10px;
}
#airlineprogram6{
    padding: 10px 0 5px 0;
}
.datepicker.dropdown-menu{
    position: fixed;
}

table.datatable > tbody > tr > td{
    white-space: initial !important;
}
.modal-header.travel-header{
    padding: 16px;
}
.travel-body h2{
    font-size: 20px !important;
    color:#000;
}
li [class^="fa-"], li [class^="fa-"] li, li [class*=" fa-"]{
    width: inherit;
}
.generalRoutine li.questionHexagon3.qu:before {
    content: '';
}
.airlineRatingbox{
    margin-left: 10px;
    margin-top: 10px;
}
.airlineRatingbox p{
    margin-bottom: 0;
}
#id_div_doctors_gender [type="radio"]:checked, .radio-inline input[type=radio], [type="radio"]:not(:checked) {
    position: inherit;
}


