/* ================= Variable Start ================= */
:root {
    --color-1: #31c5ce;
    --color-2: #32588b;
    --color-3: #f75843;
    --color-4: #008287;
    --color-5: #0f77b7;
    --color-6: #102083;
    --color-7: #44ca75;
}

/* ================= Variable End ================= */

@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {
    /* ================= Menu Part Start ================= */

    .main_menu .navbar-brand img {
        transform: translateY(-15px);
        margin-left: 15px;
    }

    .main_menu .navbar-brand .brand_text {
        font-size: 56px;
        line-height: 80px;
    }

    .main_menu button.navbar-toggler {
        border: 0;
        margin-right: 15px;
    }

    .main_menu button:focus {
        outline: 0;
        box-shadow: none;
    }

    .main_menu button.navbar-toggler i {
        color: #fff;
        height: 45px;
        width: 45px;
        text-align: center;
        line-height: 45px;
    }

    .main_menu .navbar-nav {
        background: var(--color-5);
        border-top: 1px solid #ffffff80;
        padding: 5px 0;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        text-align: center;
        margin-left: 0;
    }

    .main_menu .navbar-nav .nav-item .nav-link.menu_button {
        margin-bottom: 10px;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }

    /* ================= Menu Part End ================= */

    /* ================= Testimonial Part Start ================= */
    #testimonial_part .header h2 {
        font-size: 46px;
        padding-left: 0;
        padding-right: 0;
    }

    /* ================= Testimonial Part End ================= */

}

@media (min-width: 576px) and (max-width: 767px) {

    /* ================= Menu Part Start ================= */

    .main_menu .navbar-brand img {
        transform: translateY(-15px);
        margin-left: 15px;
    }

    .main_menu .navbar-brand .brand_text {
        font-size: 50px;
        line-height: 80px;
    }

    .main_menu button.navbar-toggler {
        border: 0;
        margin-right: 15px;
    }

    .main_menu button:focus {
        outline: 0;
        box-shadow: none;
    }

    .main_menu button.navbar-toggler i {
        color: #fff;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
    }

    .main_menu .navbar-nav {
        background: var(--color-5);
        border-top: 1px solid #ffffff80;
        padding: 5px 0;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        text-align: center;
        margin-left: 0;
    }

    .main_menu .navbar-nav .nav-item .nav-link.menu_button {
        margin-bottom: 10px;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }

    /* ================= Menu Part End ================= */

    /* ================= Header Part Start ================= */
    #header_part h1 {
        font-size: 24px;
        line-height: 32px;
        word-spacing: 0;
    }

    /* ================= Header Part End ================= */

    /* ================= Banner Part Start ================= */
    .banner_text h3 {
        font-size: 32px;
        line-height: 120px;
    }

    .banner_text a {
        font-size: 28px;
        line-height: 60px;
    }

    .banner_text a span {
        font-size: 32px;
    }

    /* ================= Banner Part End ================= */

    /* ================= Course Part Start ================= */
    #course_part h2 {
        font-size: 28px;
    }

    /* ================= Course Part End ================= */

    /* ================= Schedule Part Start ================= */
    #schedule_part h2 {
        font-size: 28px;
        font-weight: 500;
    }

    #schedule_part a {
        font-size: 28px;
        line-height: 60px;
    }

    #schedule_part a span {
        font-size: 32px;
    }

    /* ================= Schedule Part End ================= */

    /* ================= Testimonial Part Start ================= */
    #testimonial_part .header h2 {
        font-size: 42px;
        padding-left: 0;
        padding-right: 0;
    }

    /* ================= Testimonial Part End ================= */

    /* ================= FAQ Part Start ================= */
    #faq_part .header h2 {
        font-size: 46px;
    }

    .faq_body {
        overflow: auto;
        height: 630px;
    }

    .faq_body .card .card-header a {
        font-size: 18px;
    }

    .faq_body .card .card-body a {
        font-size: 16px;
    }

    .faq_body .card .card-body ul li,
    .faq_body .card .card-body p {
        font-size: 16px;
        padding: 0 5px 5px 20px;
    }

    .faq_body .card .card-body p::after {
        left: 5px;
        top: 10px;
    }

    /* ================= FAQ Part End ================= */

}

@media (max-width: 575px) {

    /* ================= Menu Part Start ================= */

    .main_menu .navbar-brand img {
        transform: translateY(-5px);
        margin-left: 15px;
    }

    .main_menu .navbar-brand h5 {
        left: 70px;
        bottom: 8px;
        font-size: 10.5px;
    }

    .main_menu .navbar-brand .brand_text {
        font-size: 40px;
        line-height: 80px;
    }

    .main_menu button.navbar-toggler {
        border: 0;
        margin-right: 15px;
    }

    .main_menu button:focus {
        outline: 0;
        box-shadow: none;
    }

    .main_menu button.navbar-toggler i {
        color: #fff;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
    }

    .main_menu .navbar-nav {
        background: var(--color-5);
        border-top: 1px solid #ffffff80;
        padding: 5px 0;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        text-align: center;
        margin-left: 0;
    }

    .main_menu .navbar-nav .nav-item .nav-link.menu_button {
        margin-bottom: 10px;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }

    /* ================= Menu Part End ================= */

    /* ================= Header Part Start ================= */
    #header_part h1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        word-spacing: 0;
    }

    /* ================= Header Part End ================= */

    /* ================= Banner Part Start ================= */
    #banner_part .box {
        height: 50vw;
    }

    .banner_text h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 80px;
    }

    .banner_text a {
        font-size: 24px;
        line-height: 60px;
    }

    .banner_text a span {
        font-size: 28px;
    }

    /* ================= Banner Part End ================= */

    /* ================= Course Part Start ================= */
    #course_part h2 {
        font-size: 22px;
        line-height: 100px;
        margin-top: -20px;
    }

    #course_part .item h5 {
        font-size: 18px;
        line-height: 25px;
    }

    #course_part .item p {
        font-size: 12px;
        line-height: 20px;
    }

    #course_part .item p i {
        float: right;
        line-height: 20px;
    }

    /* ================= Course Part End ================= */

    /* ================= Counter Part Start ================= */

    .student_counter > h5 {
        font-size: 24px;
        font-weight: 500;
    }

    .student_counter p {
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
    }

    /* ================= Counter Part End ================= */

    /* ================= Schedule Part Start ================= */
    #schedule_part h2 {
        font-size: 22px;
        font-weight: 500;
        line-height: 80px;
    }

    #schedule_part a {
        font-size: 24px;
        line-height: 60px;
    }

    #schedule_part a span {
        font-size: 28px;
    }

    .schedule_box tr td {
        font-weight: 500;
    }

    /* ================= Schedule Part End ================= */

    /* ================= Testimonial Part Start ================= */
    #testimonial_part .header h2 {
        font-size: 22px;
        padding: 0;
        font-weight: 500;
    }

    /* ================= Testimonial Part End ================= */

    /* ================= FAQ Part Start ================= */
    #faq_part .header h2 {
        font-size: 36px;
        font-weight: 600;
    }

    .faq_body {
        overflow: auto;
        height: 630px;
    }

    .faq_body .card .card-header a {
        font-size: 16px;
        font-weight: 500;
    }

    .faq_body .card .card-body a {
        font-size: 15px;
    }

    .faq_body .card .card-body ul li,
    .faq_body .card .card-body p {
        font-size: 15px;
        padding: 0 5px 5px 20px;
    }

    .faq_body .card .card-body p::after {
        left: 5px;
        top: 10px;
        width: 5px;
        height: 5px;
    }

    /* ================= FAQ Part End ================= */

}
